<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="CEPEXTDIR">
      <Directory Id="dir0893F8995ED1D0BACD03433FEBCF4D2A" Name=".">
        <Component Id="cmpF51997E8AFD10B5DAEFDA5041A2D3106" Guid="*">
          <File Id="fil2A900D62A6E1352229E75DC4D3D3640A" KeyPath="yes" Source="$(var.CepDir)/.debug"/>
        </Component>
      </Directory>
      <Directory Id="dir42CC069B88B2201753F17DFFCECE8AA2" Name="CSXS">
        <Component Id="cmp21E891E77738088DB11B857C9956E475" Guid="*">
          <File Id="fil2871C2B424E5EC3A565F7F2CC85DF2A0" KeyPath="yes" Source="$(var.CepDir)/CSXS/manifest.xml"/>
        </Component>
      </Directory>
      <Directory Id="dirC14DCD074877D8EF11D8FB9BCD9B0F2C" Name=".">
        <Component Id="cmpA536539A9D49502EBB6A7F7A6B715A5E" Guid="*">
          <File Id="filC59AFC8B788E867CD569D060ED2C4CF4" KeyPath="yes" Source="$(var.CepDir)/Start-FlagshipEditor-Backend.cmd"/>
        </Component>
      </Directory>
      <Directory Id="dirFD5840B7A90C93778C8EC007CC139F47" Name="assets">
        <Component Id="cmpE8D1E4C5578B88284C370304155ACCBE" Guid="*">
          <File Id="fil0602372A7A0421F14CF27B71F25A0AB6" KeyPath="yes" Source="$(var.CepDir)/assets/main-CkyVBALx.js"/>
        </Component>
      </Directory>
      <Directory Id="dir81DA31467BE2F679CFBD03C1B04762F8" Name="jsx">
        <Component Id="cmp84B3F2D621E16611E86BC3E1618B2450" Guid="*">
          <File Id="fil39DB71B0B916E4A0AAB3EDDD1C703BD4" KeyPath="yes" Source="$(var.CepDir)/jsx/index.js"/>
        </Component>
      </Directory>
      <Directory Id="dir8C3B611782274B331B539E76E5ACA08D" Name="luts">
        <Component Id="cmpFE040E82A13E19FEC77CCCDF7F6CCD7B" Guid="*">
          <File Id="filCD680C883A5FD128AFCB5B0359C6A1A6" KeyPath="yes" Source="$(var.CepDir)/luts/cmd_command_dark_cold.cube"/>
        </Component>
        <Component Id="cmp3BF2718D3BA9892B365365D5BCBE5C76" Guid="*">
          <File Id="filF181C676727C31E39A841D8FB8B6027B" KeyPath="yes" Source="$(var.CepDir)/luts/jack_rottier_cinematic.cube"/>
        </Component>
        <Component Id="cmp3264D7CC00B149491E48D4BD6A59EF97" Guid="*">
          <File Id="filB16109AD1912C1138306E8F1562E2B46" KeyPath="yes" Source="$(var.CepDir)/luts/lyrical_lemonade_neon.cube"/>
        </Component>
        <Component Id="cmp9C5108D00201D213E9C243531EEAB61F" Guid="*">
          <File Id="filD16D4EC9B4EA8CAB8D0E7C2B2DDEED5D" KeyPath="yes" Source="$(var.CepDir)/luts/lyrical_lemonade_vibrant.cube"/>
        </Component>
        <Component Id="cmp134A2BB0E4E6BEC17FAB483A8750B7E3" Guid="*">
          <File Id="filD19956ADFA5A3233AB27128084B09D71" KeyPath="yes" Source="$(var.CepDir)/luts/ninetive_clean.cube"/>
        </Component>
        <Component Id="cmp36ECB78950F8A31BFBEA24ED006CD0BF" Guid="*">
          <File Id="fil1137D80852F16C81F19278C66D2868CC" KeyPath="yes" Source="$(var.CepDir)/luts/worldwide_dark.cube"/>
        </Component>
        <Component Id="cmp703BD558E64D1B56F101CD86C8FB21D1" Guid="*">
          <File Id="fil3EBE156C27052BA4A58744A11B755C72" KeyPath="yes" Source="$(var.CepDir)/luts/worldwide_neon_dark.cube"/>
        </Component>
      </Directory>
      <Directory Id="dirE803C91F15A4866297E0033C875A12DB" Name="main">
        <Component Id="cmpE24B049FFBAEF598542ED621FFC0857F" Guid="*">
          <File Id="fil51F8F2FB0D131145845322C8D2F58247" KeyPath="yes" Source="$(var.CepDir)/main/index.html"/>
        </Component>
        <Component Id="cmp2CE7B3CD0090010B8C4B13C3D2C57602" Guid="*">
          <File Id="fil6D09C0F619E6C4E5215F4FBED057CFF6" KeyPath="yes" Source="$(var.CepDir)/main/styles.css"/>
        </Component>
      </Directory>
      <Directory Id="dir7CC7810812C36CEDCDC8B9F4DD58C9C7" Name="styles">
        <Component Id="cmp00C64F1A41BD2AD30E3455FECAA9AA65" Guid="*">
          <File Id="fil4D1B0266AD5C54CD25014AA23C42CF34" KeyPath="yes" Source="$(var.CepDir)/styles/cmd_command_drill.json"/>
        </Component>
        <Component Id="cmp85D1585213956B17599A373E54852E9E" Guid="*">
          <File Id="filCA62C03C7F7F71A9EC99DEE6B6B38298" KeyPath="yes" Source="$(var.CepDir)/styles/custom.json"/>
        </Component>
        <Component Id="cmpE8F4E4DB3AABAA40F558E462F38352DE" Guid="*">
          <File Id="fil995C6E9FF9E8EF5585AAB52B1F57334F" KeyPath="yes" Source="$(var.CepDir)/styles/jack_rottier.json"/>
        </Component>
        <Component Id="cmp30D7BC6B428535D739FCB6716CE6563C" Guid="*">
          <File Id="fil035A5F6D600288A2990B057CDFC0715F" KeyPath="yes" Source="$(var.CepDir)/styles/lyrical_lemonade.json"/>
        </Component>
        <Component Id="cmp57B0580F424B473012DF398895250931" Guid="*">
          <File Id="filAE766E2839BEE10FD05CCA8FABBB0A71" KeyPath="yes" Source="$(var.CepDir)/styles/ninetive.json"/>
        </Component>
        <Component Id="cmpB99D1410E3156A76E5D68CBFCD662A14" Guid="*">
          <File Id="fil83064B8DE9C4B59E9D88246C5942A291" KeyPath="yes" Source="$(var.CepDir)/styles/worldwide_films.json"/>
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="CepFiles">
      <ComponentRef Id="cmpF51997E8AFD10B5DAEFDA5041A2D3106"/>
      <ComponentRef Id="cmp21E891E77738088DB11B857C9956E475"/>
      <ComponentRef Id="cmpA536539A9D49502EBB6A7F7A6B715A5E"/>
      <ComponentRef Id="cmpE8D1E4C5578B88284C370304155ACCBE"/>
      <ComponentRef Id="cmp84B3F2D621E16611E86BC3E1618B2450"/>
      <ComponentRef Id="cmpFE040E82A13E19FEC77CCCDF7F6CCD7B"/>
      <ComponentRef Id="cmp3BF2718D3BA9892B365365D5BCBE5C76"/>
      <ComponentRef Id="cmp3264D7CC00B149491E48D4BD6A59EF97"/>
      <ComponentRef Id="cmp9C5108D00201D213E9C243531EEAB61F"/>
      <ComponentRef Id="cmp134A2BB0E4E6BEC17FAB483A8750B7E3"/>
      <ComponentRef Id="cmp36ECB78950F8A31BFBEA24ED006CD0BF"/>
      <ComponentRef Id="cmp703BD558E64D1B56F101CD86C8FB21D1"/>
      <ComponentRef Id="cmpE24B049FFBAEF598542ED621FFC0857F"/>
      <ComponentRef Id="cmp2CE7B3CD0090010B8C4B13C3D2C57602"/>
      <ComponentRef Id="cmp00C64F1A41BD2AD30E3455FECAA9AA65"/>
      <ComponentRef Id="cmp85D1585213956B17599A373E54852E9E"/>
      <ComponentRef Id="cmpE8F4E4DB3AABAA40F558E462F38352DE"/>
      <ComponentRef Id="cmp30D7BC6B428535D739FCB6716CE6563C"/>
      <ComponentRef Id="cmp57B0580F424B473012DF398895250931"/>
      <ComponentRef Id="cmpB99D1410E3156A76E5D68CBFCD662A14"/>
    </ComponentGroup>
  </Fragment>
</Wix>
<!-- generated with msitools 0.106 -->
<!-- wixl-heat -var var.CepDir -directory-ref CEPEXTDIR -component-group CepFiles -prefix /private/tmp/claude-501/-Users-issandre-openclaw-workspace-projects-flagshipeditor/b4f421b3-d433-40b6-bc88-3d8e75c12519/scratchpad/msi/cep-src/ -->
