<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dir7625A42985536E08C5C3056437E1D4D1" Name=".">
        <Component Win64="$(var.Win64)" Id="cmp09D135D15AA7E5251CD8BEED72ED22B3" Guid="*">
          <File Id="filBA82F6AE8AD61317AAF18749F20EC5BE" KeyPath="yes" Source="$(var.RootDir)/Setup-Complete-FlagshipEditor.vbs"/>
        </Component>
        <Component Win64="$(var.Win64)" Id="cmp9014C7EFE97CFB75596D735442E6D94A" Guid="*">
          <File Id="fil4781E88087F9BB5D8AFE8EF008540F7A" KeyPath="yes" Source="$(var.RootDir)/Start-FlagshipEditor-Backend.vbs"/>
        </Component>
        <Component Win64="$(var.Win64)" Id="cmp2E754A85F7B625974A4453A53F878D13" Guid="*">
          <File Id="filD569A22706961A43ADAA55DF131D3CE0" KeyPath="yes" Source="$(var.RootDir)/Stop-FlagshipEditor-Backend.vbs"/>
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="RootFiles">
      <ComponentRef Id="cmp09D135D15AA7E5251CD8BEED72ED22B3"/>
      <ComponentRef Id="cmp9014C7EFE97CFB75596D735442E6D94A"/>
      <ComponentRef Id="cmp2E754A85F7B625974A4453A53F878D13"/>
    </ComponentGroup>
  </Fragment>
</Wix>
<!-- generated with msitools 0.106 -->
<!-- wixl-heat -var var.RootDir -directory-ref INSTALLDIR -component-group RootFiles -prefix /Users/issandre/.openclaw/workspace/projects/flagshipeditor/.build/msi/stage/root/ -win64 -->
